<%= render @beer_club %>

<% if current_user %>

  <% if not @beer_club.members.include? current_user %>
    <p>
      <%= form_with(model: @membership) do |form| %>
        <%= form.hidden_field :beer_club_id, value: @beer_club.id %>
        <%= form.hidden_field :user_id, value: current_user.id %>
        <button type="submit" class="btn btn-outline-success">Join the beer club</button>
      <% end %>
    </p>
  <% else %>
    <p>
      <%= form_for(@membership, method: "delete") do |form| %>
        <%= form.hidden_field :beer_club_id %>
        <button type="submit" class="btn btn-outline-danger">End the membership</button>
      <% end %>
    </p>
  <% end %>
<% end %>

<%= edit_and_destroy_buttons(@beer_club) %>
<% unless current_user.nil? %>
<% if current_user.admin == true %>
    <%= link_to "Destroy", delete_club_path(@beer_club.id), class: "btn btn-outline-danger" %>
<% end %>
<% end %>
