<h1>Breweries</h1>

<p></p>
<h2>Active</h2>

<p> Number of active breweries: <%= @active_breweries.count %> </p>

<div class="row row-cols-1 row-cols-md-3 g-4">
  <% @active_breweries.each do |brewery| %>
    <div class="col">
      <div class="card h-100 text-bg-light">
        <div class="card-body">
          <h5 class="card-title"><%= brewery.name %></h5>
          <p class="card-text">
            <small>Established in <%= brewery.year %></small><br/><br/>
            <% if brewery.ratings.empty? %>
              Brewery's beers has not yet been rated!
            <% else %>
              Brewery has <%= pluralize(brewery.ratings_count, 'rating')%> with an average of <%= brewery.average_rating %>
            <% end %>
            <br/><br/><%= link_to "Brewery page", brewery, class:"btn btn-outline-secondary btn-sm" %>
          </p>
        </div>
        <div class="card-footer">
          <small class="text-muted">
          <% brewery.beers.each do |beer| %>
           <%= link_to beer.name, beer, class:"badge rounded-pill text-bg-dark" %>
          <% end %>
          </small>
        </div>
      </div>
    </div>
  <% end %>
</div>

<p></p>
<h2>Retired</h2>

<p> Number of retired breweries: <%= @retired_breweries.count %> </p>

<div class="row row-cols-1 row-cols-md-3 g-4">
  <% @retired_breweries.each do |brewery| %>
    <div class="col">
      <div class="card h-100 text-bg-dark">
        <div class="card-body">
          <h5 class="card-title"><%= brewery.name %></h5>
          <p class="card-text">
            <small>Established in <%= brewery.year %></small><br/><br/>
            <% if brewery.ratings.empty? %>
              Brewery's beers has not yet been rated!
            <% else %>
              Brewery has <%= pluralize(brewery.ratings_count, 'rating')%> with an average of <%= brewery.average_rating %>
            <% end %>
            <br/><br/><%= link_to "Brewery page", brewery, class:"btn btn-outline-light btn-sm" %>
          </p>
        </div>
        <div class="card-footer">
          <small class="text-muted">
          <% brewery.beers.each do |beer| %>
           <%= link_to beer.name, beer, class:"badge rounded-pill text-bg-light" %>
          <% end %>
          </small>
        </div>
      </div>
    </div>
  <% end %>
</div>

<p>
</p>
<%= link_to("New brewery", new_brewery_path, class:"btn btn-outline-primary") if current_user %>