<h1>Beer places</h1>

<p>
    <%= form_with url: places_path, class: "d-flex", method: :post do |form| %>
        <%= form.text_field :city, class:"form-control me-2", placeholder:"City" %>
        <%= form.submit "Search", class:"btn btn-outline-dark" %>
    <% end %>
</p>

<p>
    <% if @places %>

    <h5>The current beer weather in <%= @weather["location"]["name"] %> is <%= @weather["current"]["temperature"] %> c°</h5>
    <p><b>wind</b> <%= @weather["current"]["wind_speed"] %>, direction: <%= @weather["current"]["wind_dir"]%> </p>

    <table class="table table-striped table-hover">
        <thead>
            <th>id</th>
            <th>name</th>
            <th>status</th>
            <th>street</th>
            <th>city</th>
            <th>zip</th>
            <th>country</th>
            <th>overall</th>
        </thead>
        <% @places.each do |place| %>
            <tr>
                <td><%= place.id %></td>
                <td><%= link_to place.name, place_path(place.id) %></td>
                <td><%= place.status %></td>
                <td><%= place.street %></td>
                <td><%= place.city %></td>
                <td><%= place.zip %></td>
                <td><%= place.country %></td>
                <td><%= place.overall %></td>
            </tr>
        <% end %>
    </table>
    <% end %>
</p>