<div class="otsikko">
    <h1>Places</h1>
    <p>Beer places search</p>
</div>

<p>
    <ul>
        <li>
            <%= form_with url: places_path, method: :post do |form| %>
            City <%= form.text_field :city %>
            <%= form.submit "Search" %>
            <% end %>
        </li>
    </ul>
</p>

<p id="notice"><%= notice %></p>

<p>
    <% if @places %>

    <b>The current beer weather in <%= @weather["location"]["name"] %>.</b>
    <p><%= @weather["current"]["temperature"] %> Celsius</p>
    <p><b>wind</b> <%= @weather["current"]["wind_speed"] %>, direction: <%= @weather["current"]["wind_dir"]%> </p>

    <table>
        <thead>
            <th>id</th>
            <th>name</th>
            <th>status</th>
            <th>street</th>
            <th>city</th>
            <th>zip</th>
            <th>country</th>
            <th>overall</th>
        </thead>
        <% @places.each do |place| %>
            <tr>
                <td><%= place.id %></td>
                <td><%= link_to place.name, place_path(place.id) %></td>
                <td><%= place.status %></td>
                <td><%= place.street %></td>
                <td><%= place.city %></td>
                <td><%= place.zip %></td>
                <td><%= place.country %></td>
                <td><%= place.overall %></td>
            </tr>
        <% end %>
    </table>
    <% end %>
</p>